<section>
  <h2 class="text-2xl font-bold mt-6 mb-4">My Notification Webhooks</h2>
  <div class="flex flex-wrap mr-5 mb-2 p-0 leading-6 max-md:mr-0 [&_img]:w-[40%] [&_img]:h-auto [&_img]:mt-2.5 [&_img]:mr-5 [&_img]:max-md:w-full [&_img]:max-md:m-0 [&_img]:max-md:mb-4 [&_p]:my-2 [&_p]:p-0">
    <%= image_tag("notification-webhooks-discord.png", alt: "Discord", loading: "lazy", width: 430, height: 240) %>
    <%= image_tag("notification-webhooks-slack.png", alt: "Discord", loading: "lazy", width: 430, height: 240) %>
    <p>
      Webhook を活用して、rururu からの通知を Slack / Discord で受け取ることができます。<br/>
      Mode を選択し、Slack / Discord で生成した Url を入力してください。
    </p>
  </div>
  <%= form_for(@new_notification_webhook) do |form| %>
    <div class="flex flex-wrap items-end justify-between mb-2 pb-2 leading-[1.5em] max-md:mb-2">
      <div class="w-[calc(33%-30px)] max-md:w-full">
        <p class="mb-1 p-0"><%= form.label :mode %></p>
        <%= form.select :mode, NotificationWebhook.modes.keys, {}, class: "w-full h-8 mb-4 px-2 py-1" %>
      </div>
      <div class="w-[calc(33%-30px)] max-md:w-full">
        <p class="mb-1 p-0"><%= form.label :url %></p>
        <%= form.text_field :url, class: "w-full h-8 mb-4 px-2 py-1" %>
      </div>
      <div class="w-[calc(33%-30px)] max-md:w-full">
        <p class="mb-1 p-0"><%= form.label :notify_hour, "Notify Hour" %></p>
        <%= form.select :notify_hour, (0..23).map { |h| ["#{h}:00", h] }, {}, class: "w-full h-8 mb-4 px-2 py-1" %>
      </div>
      <div class="w-20">
        <%= form.submit "Add", class: "px-4 py-1 bg-[#333333] text-white border-none rounded-2xl cursor-pointer" %>
      </div>
    </div>
  <% end %>

  <% if @notification_webhooks.count > 0 %>
  <div class="overflow-x-auto">
    <table class="w-full min-w-[768px] mb-8 border-collapse">
      <tbody>
        <tr class="flex border-b border-[#aaaaaa]">
          <th class="block w-1/5 py-2 pr-2 text-left">Mode</th>
          <th class="block w-1/5 py-2 pr-2 text-left">Webhook URL</th>
          <th class="block w-1/5 py-2 pr-2 text-left">Notify Hour</th>
          <th class="block w-1/5 py-2 pr-2 text-left">Created</th>
          <th class="block w-1/5 py-2 pr-2 text-left">Last Notified</th>
          <th class="block w-20 py-2 pr-2 text-left">Action</th>
        </tr>
        <% @notification_webhooks.each do |nw| %>
        <tr class="flex border-b border-[#aaaaaa] last:border-b-0">
          <td class="block w-1/5 py-2 pr-2"><%= nw.mode %></td>
          <td class="block w-1/5 py-2 pr-2"><%= link_to(URI.parse(nw.url).host, nw.url) %></td>
          <td class="block w-1/5 py-2 pr-2">
            <%= form_with(model: nw, url: notification_webhook_path(nw), method: :patch) do |f| %>
              <%= f.select :notify_hour, (0..23).map { |h| ["#{h}:00", h] }, {}, class: "w-24 h-8 px-2 py-1", onchange: "this.form.requestSubmit()" %>
            <% end %>
          </td>
          <td class="block w-1/5 py-2 pr-2"><%= nw.created_at.strftime("%Y-%m-%d %H:%M") %></td>
          <td class="block w-1/5 py-2 pr-2"><%= nw.last_notified_at&.strftime("%Y-%m-%d %H:%M") %></td>
          <td class="block w-20 py-2 pr-2"><%= link_to("Delete", notification_webhook_path(nw), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
</section>

<section>
  <h2 class="text-2xl font-bold mt-6 mb-4">My Notification Emails</h2>
  <div class="flex flex-wrap mr-5 mb-2 p-0 leading-6 max-md:mr-0 [&_img]:w-[40%] [&_img]:h-auto [&_img]:mt-2.5 [&_img]:mr-5 [&_img]:max-md:w-full [&_img]:max-md:m-0 [&_img]:max-md:mb-4 [&_p]:my-2 [&_p]:p-0">
    <p>
      rururu からの通知を E-mail で受け取ることができます。<br/>
      Mode を選択し、受信したいメールアドレスを入力してください。
    </p>
  </div>
  <%= form_for(@new_notification_email) do |form| %>
    <div class="flex flex-wrap items-end justify-between mb-2 pb-2 leading-[1.5em] max-md:mb-2">
      <div class="w-[calc(33%-30px)] max-md:w-full">
        <p class="mb-1 p-0"><%= form.label :mode %></p>
        <%= form.select :mode, NotificationEmail.modes.keys, {}, class: "w-full h-8 mb-4 px-2 py-1" %>
      </div>
      <div class="w-[calc(33%-30px)] max-md:w-full">
        <p class="mb-1 p-0"><%= form.label :email %></p>
        <%= form.text_field :email, class: "w-full h-8 mb-4 px-2 py-1" %>
      </div>
      <div class="w-[calc(33%-30px)] max-md:w-full">
        <p class="mb-1 p-0"><%= form.label :notify_hour, "Notify Hour" %></p>
        <%= form.select :notify_hour, (0..23).map { |h| ["#{h}:00", h] }, {}, class: "w-full h-8 mb-4 px-2 py-1" %>
      </div>
      <div class="w-20">
        <%= form.submit "Add", class: "px-4 py-1 bg-[#333333] text-white border-none rounded-2xl cursor-pointer" %>
      </div>
    </div>
  <% end %>

  <% if @notification_emails.count > 0 %>
  <div class="overflow-x-auto">
    <table class="w-full min-w-[768px] mb-8 border-collapse">
      <tbody>
        <tr class="flex border-b border-[#aaaaaa]">
          <th class="block w-1/6 py-2 pr-2 text-left">Mode</th>
          <th class="block w-1/6 py-2 pr-2 text-left">Email</th>
          <th class="block w-1/6 py-2 pr-2 text-left">Notify Hour</th>
          <th class="block w-1/6 py-2 pr-2 text-left">Created</th>
          <th class="block w-1/6 py-2 pr-2 text-left">Verified</th>
          <th class="block w-1/6 py-2 pr-2 text-left">Last Notified</th>
          <th class="block w-20 py-2 pr-2 text-left">Action</th>
        </tr>
        <% @notification_emails.each do |ne| %>
        <tr class="flex border-b border-[#aaaaaa] last:border-b-0">
          <td class="block w-1/6 py-2 pr-2"><%= ne.mode %></td>
          <td class="block w-1/6 py-2 pr-2"><%= ne.email %></td>
          <td class="block w-1/6 py-2 pr-2">
            <%= form_with(model: ne, url: notification_email_path(ne), method: :patch) do |f| %>
              <%= f.select :notify_hour, (0..23).map { |h| ["#{h}:00", h] }, {}, class: "w-24 h-8 px-2 py-1", onchange: "this.form.requestSubmit()" %>
            <% end %>
          </td>
          <td class="block w-1/6 py-2 pr-2"><%= ne.created_at.strftime("%Y-%m-%d %H:%M") %></td>
          <td class="block w-1/6 py-2 pr-2"><%= ne.verified? ? "Yes" : "No" %></td>
          <td class="block w-1/6 py-2 pr-2"><%= ne.last_notified_at&.strftime("%Y-%m-%d %H:%M") %></td>
          <td class="block w-20 py-2 pr-2"><%= link_to("Delete", notification_email_path(ne), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
</section>

<section>
  <h2 class="text-2xl font-bold mt-6 mb-4">My Channel Group Webhooks</h2>
  <div class="flex flex-wrap mr-5 mb-2 p-0 leading-6 max-md:mr-0 [&_img]:w-[40%] [&_img]:h-auto [&_img]:mt-2.5 [&_img]:mr-5 [&_img]:max-md:w-full [&_img]:max-md:m-0 [&_img]:max-md:mb-4 [&_p]:my-2 [&_p]:p-0">
    <p>
      Channel Group の新着 Item を Webhook で受け取ることができます。
    </p>
  </div>
  <%= form_with(model: @new_channel_group_webhook) do |form| %>
    <div class="flex flex-wrap items-end justify-between mb-2 pb-2 leading-[1.5em] max-md:mb-2">
      <div class="w-[calc(50%-50px)] max-md:w-full">
        <p class="mb-1 p-0"><%= form.label :channel_group_id %></p>
        <%= form.select :channel_group_id, ChannelGroup.order(id: :desc).map { |cg| [cg.name, cg.id] }, {}, class: "w-full h-8 mb-4 px-2 py-1" %>
      </div>
      <div class="w-[calc(50%-50px)] max-md:w-full">
        <p class="mb-1 p-0"><%= form.label :url %></p>
        <%= form.text_field :url, class: "w-full h-8 mb-4 px-2 py-1" %>
      </div>
      <div class="w-20">
        <%= form.submit "Add", class: "px-4 py-1 bg-[#333333] text-white border-none rounded-2xl cursor-pointer" %>
      </div>
    </div>
  <% end %>

  <% if @channel_group_webhooks.count > 0 %>
    <div class="overflow-x-auto">
      <table class="w-full min-w-[768px] mb-8 border-collapse">
        <tbody>
          <tr class="flex border-b border-[#aaaaaa]">
            <th class="block w-1/4 py-2 pr-2 text-left">Channel Group</th>
            <th class="block w-1/4 py-2 pr-2 text-left">Webhook URL</th>
            <th class="block w-1/4 py-2 pr-2 text-left">Created</th>
            <th class="block w-1/4 py-2 pr-2 text-left">Last Notified</th>
            <th class="block w-20 py-2 pr-2 text-left">Action</th>
          </tr>
          <% @channel_group_webhooks.each do |webhook| %>
          <tr class="flex border-b border-[#aaaaaa] last:border-b-0">
            <td class="block w-1/4 py-2 pr-2"><%= link_to(webhook.channel_group.name, channel_group_path(webhook.channel_group)) %></td>
            <td class="block w-1/4 py-2 pr-2"><%= link_to(URI.parse(webhook.url).host, webhook.url) %></td>
            <td class="block w-1/4 py-2 pr-2"><%= webhook.created_at.strftime("%Y-%m-%d %H:%M") %></td>
            <td class="block w-1/4 py-2 pr-2"><%= webhook.last_notified_at&.strftime("%Y-%m-%d %H:%M") %></td>
            <td class="block w-20 py-2 pr-2"><%= link_to("Delete", channel_group_webhook_path(webhook), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</section>
