<% channels.each do |channel| %>
<div class="min-w-[160px] mr-[20px] sm:min-w-[240px]">
  <div class="relative w-[160px] h-[160px] sm:w-[240px] sm:h-[240px] leading-[0] overflow-hidden">
    <%= link_to channel do %>
      <div class="image-blur-bg relative w-full h-full flex items-center justify-center bg-center bg-cover bg-no-repeat overflow-hidden" style="background-image: url('<%= channel.image_url_or_placeholder %>')">
        <%= image_tag(channel.image_url_or_placeholder, class: "relative z-[2] max-w-full max-h-full object-contain") %>
      </div>
    <% end %>
  </div>
  <h3 class="my-2 mb-1 text-base leading-[1.4em] font-bold">
    <%= image_tag(channel.favicon_url, size: "16x16", class: "w-[14px] h-auto") %>
    <%= link_to(channel.title, channel) %>
  </h3>
  <span class="block mb-[0.1em] text-[0.9em] leading-[1.5em] text-[#555555]">
    <%= channel.description.to_s[0..64] %><br/>
  </span>
</div>
<% end %>
