<div class="cards channel-cards">
  <% channels.each do |channel| %>
  <div class="card channel-card">
    <div class="card-image">
      <%= link_to channel do %>
        <div class="channel-card-image" style="background-image: url('<%= channel.image_url_or_placeholder %>')">
          <%= image_tag(channel.image_url_or_placeholder) %>
        </div>
      <% end %>
    </div>
    <h3 class="w-full my-2 font-bold text-base leading-relaxed card-title">
      <%= image_tag(channel.favicon_url, size: "16x16", class: "w-[14px] h-auto") %>
      <%= link_to(channel.title, channel) %>
    </h3>
    <span class="card-description">
      <%= channel.description.to_s[0..64] %><br/>
    </span>
  </div>
  <% end %>
</div>
