<div class="w-[300px] flex-shrink-0 mr-4 max-[768px]:w-full max-[768px]:mr-0 bg-white border border-gray-200 rounded-lg overflow-hidden flex flex-col">
  <div class="p-4 flex flex-col">
    <%= link_to channel_path(channel), class: "block" do %>
      <div class="w-full h-32 mb-3 overflow-hidden flex items-center justify-center bg-gray-50">
        <% if channel.image_url %>
          <%= image_tag(channel.image_url, class: "max-w-full max-h-full object-contain") %>
        <% end %>
      </div>
      <div class="min-h-[3.5rem] flex items-center justify-center mb-3">
        <h3 class="text-lg font-bold line-clamp-2 text-center">
          <%= channel.title %>
        </h3>
      </div>
    <% end %>
    <%= render partial: "subscriptions/link", locals: { channel: channel } %>
  </div>
  <ul class="border-t border-gray-200">
    <% channel.recent_items.each do |item| %>
      <%= turbo_frame_tag(item) do %>
        <li class="border-b border-gray-200 last:border-b-0">
          <%= link_to item.url, target: "_blank", class: "block p-3 hover:bg-gray-50 transition-colors" do %>
            <div class="w-full h-24 mb-2 overflow-hidden flex items-center justify-center bg-gray-50">
              <div class="image-blur-bg relative w-full h-full flex items-center justify-center bg-center bg-cover bg-no-repeat" style="background-image: url('<%= item.image_url_or_placeholder %>')">
                <%= image_tag(item.image_url_or_placeholder, class: "relative z-[2] max-w-full max-h-full object-contain") %>
              </div>
            </div>
            <h4 class="font-bold text-sm leading-tight mb-1 line-clamp-2">
              <%= item.title %>
            </h4>
            <time class="text-xs text-gray-600">
              <%= item.published_at.strftime("%Y-%m-%d %H:%M") %>
            </time>
          <% end %>
          <% if item.audio_enclosure_url %>
            <div class="px-3 pb-3">
              <audio class="w-full h-9" src="<%= item.audio_enclosure_url %>" controls controlslist="nodownload"></audio>
            </div>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
