<div class="channel-and-items-component channel-and-items-component-welcome overflow-scroll">
  <h3 class="text-lg font-bold mt-2 channel-and-items-component-channel">
    <%= link_to channel_path(channel) do %>
      <% if channel.image_url %>
        <div class="channel-component-image">
          <%= image_tag(channel.image_url) %>
        </div>
      <% end %>
      <span>
        <%= channel.title %>
      </span>
    <% end %>
  </h3>
  <ul class="channel-and-items-component-item-list">
    <% channel.items.order(id: :desc).limit(3).each do |item| %>
      <%= turbo_frame_tag(item) do %>
      <li>
      <%= link_to(item.url, target: "_blank") do %>
        <div class="channel-and-items-component-item-image">
          <div class="component-item-image" style="background-image: url('<%= item.image_url_or_placeholder %>')">
            <%= image_tag(item.image_url_or_placeholder) %>
          </div>
        </div>
        <div class="channel-and-items-component-item-info">
          <h4 class="font-bold">
            <%= item.title %>
          </h4>
          <%= item.published_at.strftime("%Y-%m-%d %H:%M") %>
        </div>
        <% if item.audio_enclosure_url %>
          <div class="audio-player">
            <audio style="width: 100%;" src="<%= item.audio_enclosure_url %>" controls controlslist="nodownload"></audio>
          </div>
        <% end %>
      <% end %>
      </li>
      <% end %>
    <% end %>
  </ul>
</div>
