<h2><%= @channel.title %></h2>

<% if @channel.description %>
  <p><%= @channel.description %></p>
<% end %>
<% if @channel.image_url %>
  <p><%= image_tag(@channel.image_url, style: "max-height: 200px;") %>
<% end %>

<p>
  <%= render(partial: "ownerships/link", locals: { channel: @channel }) %>
</p>

<%= render(partial: "items/table", locals: { items: @items, with_channel: false }) %>
