<div class="channel-profile">
  <% if @channel.image_url %>
  <div class="channel-profile-image">
    <%= image_tag(@channel.image_url, style: "max-height: 240px;") %>
  </div>
  <% end %>

  <div class="channel-profile-info">
    <h2 class="text-2xl font-bold mt-6 mb-4"><%= @channel.title %></h2>

    <div class="channel-buttons">
      <%= render(partial: "subscriptions/link", locals: { channel: @channel }) %>
    </div>

    <% if @channel.description %>
      <p><%= @channel.description %></p>
    <% end %>

    <ul class="my-4 channel-links">
      <% if @channel.site_url %>
      <li><span class="material-symbols-outlined">language</span> <%= link_to(@channel.site_url, @channel.site_url, target: "_blank") %></li>
      <% end %>
      <li><span class="material-symbols-outlined">rss_feed</span> <%= link_to(@channel.feed_url, @channel.feed_url, target: "_blank") %></li>
    </ul>

    <div class="channel-control-buttons">
      <%= render(partial: "ownerships/link", locals: { channel: @channel }) %>
      <%= link_to(channel_fetch_path(@channel), data: { turbo_method: :post }) do %>
        <span class="material-symbols-outlined">refresh</span>
        Update and fetch items
      <% end %>
    </div>

    <% if @channel.stopper %>
      <p style="padding: 20px; background-color: #ffdf89; color: #946c00;">
        This channel has stopped updating
      </p>
    <% end %>

    <% if @channel.groups.count > 0 %>
    <ul class="my-4">
      <% @channel.groups.each do |group| %>
        <li><%= link_to(group.name, channel_group_path(group)) %></li>
      <% end %>
    </ul>
    <% end %>

    <% if logged_in? %>
    <% if current_user.channel_groups.count > 0 %>
      <%= render(partial: "channel_groupings/form", locals: { channel: @channel, channel_groups: current_user.channel_groups }) %>
    <% end %>
    <% end %>
  </div>
</div>

<h3>Items</h3>

<%= render(partial: "items/cards", locals: { items: @items, with_channel: false }) %>
