<ul class="flex w-full">
  <% pawprints.each do |pawprint| %>
    <% user = pawprint.user %>
    <% item = pawprint.item %>
    <li class="min-w-[270px] mr-[20px] py-2 sm:min-w-[400px]">
      <div class="flex flex-wrap w-full">
        <div class="w-[96px] h-[64px] mr-2 overflow-hidden relative">
          <%= link_to(item.url, target: "_blank") do %>
            <div class="relative w-full h-full flex items-center justify-center bg-center bg-cover bg-no-repeat overflow-hidden before:content-[''] before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-[inherit] before:blur-[10px] before:scale-110 before:z-[1] [&_img]:relative [&_img]:z-[2] [&_img]:w-full [&_img]:h-full [&_img]:object-contain" style="background-image: url('<%= item.image_url_or_placeholder %>')">
              <%= image_tag(item.image_url_or_placeholder) %>
            </div>
          <% end %>
        </div>
        <div class="w-[calc(100%-106px)] -mt-0.75">
          <h3 class="font-bold">
            <%= link_to(item.title, item.url, target: "_blank") %>
          </h3>
          <span class="flex">
            <%= image_tag(item.channel.favicon_url, size: "16x16", class: "mt-1 mr-1 w-[16px] h-[16px]") %>
            <%= link_to(item.channel.title, item.channel) %>
          </span>
        </div>
        <% if item.audio_enclosure_url %>
          <div class="w-full mt-2">
            <audio class="h-[36px]" style="width: 100%;" src="<%= item.audio_enclosure_url %>" controls controlslist="nodownload"></audio>
          </div>
        <% end %>
      </div>
      <div class="w-full">
        <div class="flex items-center my-2">
          <%= user_avatar_tag(user, size: :xs, css_class: "mr-2") %>
          <%= link_to("@" + user.name, user_path(user_name: user.name)) %>
          <span class="ml-1">pawed on <%= pawprint.created_at.strftime("%Y-%m-%d %H:%M") %></span>
        </div>
        <% if user == current_user %>
          <%= render(partial: "items/pawprint", locals: { item: item, pawprint: pawprint }) %>
        <% else %>
          <% if pawprint.memo.present? %>
          <div class="pawprint-memo"><%= pawprint.memo %></div>
          <% end %>
          <% if current_user&.not_pawed?(item) %>
            <div class="chase-paw">
              <div class="chase-paw-user">
                <%= user_avatar_tag(current_user, size: :xs) %>
                <%= link_to("@" + current_user.name, user_path(user_name: current_user.name)) %>
              </div>
              <div class="chase-paw-form">
                <%= render(partial: "items/pawprint", locals: { item: item, pawprint: nil }) %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
