<ul class="pawprint-list">
  <% pawprints.each do |pawprint| %>
    <% user = pawprint.user %>
    <% item = pawprint.item %>
    <li>
      <div class="pawprint-item">
        <div class="pawprint-item-image">
          <%= link_to(item.url, target: "_blank") do %>
            <%= image_tag(item.image_url_or_placeholder, height: "100") %>
          <% end %>
        </div>
        <div class="pawprint-item-text">
          <h3>
            <%= link_to(item.title, item.url, target: "_blank") %>
          </h3>
          <p>
            <%= image_tag(item.channel.favicon_url, size: "16x16") %>
            <%= link_to(item.channel.title, item.channel) %>
          </p>
        </div>
        <% if item.audio_enclosure_url %>
          <div class="audio-player">
            <audio style="width: 100%;" src="<%= item.audio_enclosure_url %>" controls controlslist="nodownload"></audio>
          </div>
        <% end %>
      </div>
      <div class="pawprint-paw">
        <div class="pawprint-user">
          <%= image_tag(user.icon_url, size: "24x24") %>
          <%= link_to("@" + user.name, user_path(user_name: user.name)) %>
          <span>pawed on <%= pawprint.created_at.strftime("%Y-%m-%d %H:%M") %></span>
        </div>
        <% if user == current_user%>
          <%= render(partial: "items/pawprint_form", locals: { item: item, pawprint: pawprint }) %>
        <% else %>
          <% if pawprint.memo.present? %>
          <div class="pawprint-memo"><%= pawprint.memo %></div>
          <% end %>
          <% unless current_user.pawed?(item) %>
            <div class="chase-paw">
              <div class="chase-paw-user">
                <%= image_tag(current_user.icon_url, size: "24x24") %>
                <%= link_to("@" + current_user.name, user_path(user_name: current_user.name)) %>
              </div>
              <div class="chase-paw-form">
                <%= render(partial: "items/pawprint_form", locals: { item: item, pawprint: nil }) %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
