<ul class="pawprint-list">
  <% pawprints.each do |pawprint| %>
    <% user = pawprint.user %>
    <% item = pawprint.item %>
    <li>
      <div class="pawprint-user">
        <%= image_tag(user.icon_url, size: "24x24") %>
      </div>
      <div class="pawprint-info">
        <%= link_to("@" + user.name, user_path(user_name: user.name)) %>
        <span>pawed on <%= pawprint.created_at.strftime("%Y-%m-%d %H:%M") %></span><br>
        <%= link_to(item.title, item.url, target: "_blank") %>
      </div>
      <% if pawprint.memo.present? %>
      <div class="pawprint-memo">
        <p><%= pawprint.memo %></p>
      </div>
      <% end %>
    </li>
  <% end %>
</ul>
