<h2>Channel Preview</h2>
<div class="channel-profile">
  <% if @channel.image_url %>
  <div class="channel-profile-image">
    <%= image_tag(@channel.image_url, style: "max-height: 240px;") %>
  </div>
  <% end %>

  <div class="channel-profile-info">
    <h2><%= @channel.title %></h2>

    <% if @channel.description %>
      <p><%= @channel.description %></p>
    <% end %>

    <ul>
      <% if @channel.site_url %>
      <li>Site: <%= link_to(@channel.site_url, @channel.site_url, target: "_blank") %></li>
      <% end %>
      <li>Feed: <%= link_to(@channel.feed_url, @channel.feed_url, target: "_blank") %></li>
    </ul>
  </div>
</div>
<% if @similar_channels.count > 0 %>
<section>
  <h3>Did you mean...?</h3>
  <ul class="similar-channels">
    <% @similar_channels.each do |channel| %>
      <li>
        <% if channel.image_url %>
        <%= link_to channel_path(channel) do %>
        <div class="similar-channel-image">
          <%= image_tag(channel.image_url, style: "max-height: 100px;") %>
        </div>
        <% end %>
        <% end %>
        <div class="similar-channel-info">
          <div class="similar-channel-title">
            <%= link_to(channel.title, channel) %>
          </div>
          <div class="similar-channel-urls">
            <% if channel.site_url %>
            Site: <%= link_to(channel.site_url, channel.site_url, target: "_blank") %><br/>
            <% end %>
            Feed: <%= link_to(channel.feed_url, channel.feed_url, target: "_blank") %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <p>
    既に該当するフィードが登録済みか、同じコンテンツを提供する別フィードが先に登録されている可能性があります。<br/>
    上に表示されているChannelをご確認ください。<br/>
    問題ないようでしたら、以下より登録をお願いいたします。
  </p>
</section>
<% end %>
<section>
  <%= form_tag(channels_path, style: "margin: 20px 0;") do %>
    <%= text_field_tag(:url, @channel.feed_url, style: "width: 80%;") %>
    <%= submit_tag("Save") %>
  <% end %>
  <div class="preview-notice">
  <ul>
    <li>
      ニュースサイトなど、フィードによっては利用規約や注意事項が設けられている場合があります。<br/>フィード登録の際には、配信元の利用規約や注意事項をご確認ください。
    </li>
    <li>
      フィードの利用に注意事項が設けられている例：<br/>
      <ul>
        <li><a href="https://news.yahoo.co.jp/rss" target="_blank">RSS一覧 - Yahoo!ニュース</a></li>
        <li><a href="https://www.nhk.or.jp/toppage/rss/" target="_blank">NHKオンライン｜RSSについて</a></li>
      </ul>
    </li>
    <li>
      現在rururuには自動で規約違反を検知する機能はありません。<br/>規約違反が発覚した場合は、運営者が手動で削除することがありますのでご了承ください。
    </li>
  </ul>
  </div>
</section>
