<section>
  <h2>Unreads</h2>
  <p>Showing unreads from the last <%= @days_before %> days</p>
  <p>
    <%= link_to((@days_before - 1).to_s + " days", unreads_path(days_before: @days_before - 1)) %>
    |
    <%= link_to((@days_before + 1).to_s + " days", unreads_path(days_before: @days_before + 1)) %>
  </p>
  <% @channel_and_items.each do |channel, items| %>
    <div class="channel-and-items-component">
      <h3 class="channel-and-items-component-channel">
        <% if channel.image_url %>
        <%= image_tag(channel.image_url, size: "64x64",) %>
        <% end %>
        <span>
          <%= link_to(channel.title, channel) %>
        </span>
      </h3>
      <ul class="channel-and-items-component-item-list">
        <% items.sort_by(&:published_at).reverse.take(6).each do |item| %>
          <%= turbo_frame_tag(item) do %>
          <li>
            <div class="channel-and-items-component-item-image">
              <%= image_tag(item.image_url_or_placeholder, width: "100%", height: "100%", style: "object-fit: cover;") %>
            </div>
          <div class="channel-and-items-component-item-info">
            <h4>
            <%= link_to(item.title, item.url, target: "_blank") %>
            </h4>
            <%= item.published_at.strftime("%Y-%m-%d %H:%M") %>
          </div>
          <div class="channel-and-items-component-item-skip">
            <%= link_to("Skip", item_skip_path(item), data: { turbo_method: :post }) %>
          </div>
          <div class="channel-and-items-component-item-memo">
            <%= render(partial: "items/pawprint_form", locals: { item: item, pawprint: nil }) %>
          </div>
          </li>
          <% end %>
        <% end %>
        <% if items.size > 6 %>
          <p>
            Check out more unreads on <%= link_to(channel.title, channel) %>
          </p>
        <% end %>
      </ul>
    </div>
  <% end %>
</section>
