<h2>Unreads</h2>

<p class="unreads-nav">Showing unreads from the last <%= @range_days %> days</p>
<div class="unreads-nav-button">
  <%= link_to("← " + (@range_days - 1).to_s + " days", unreads_path(@unreads_params.merge(range_days: @range_days - 1))) %>
  <%= link_to((@range_days + 1).to_s + " days →", unreads_path(@unreads_params.merge(range_days: @range_days + 1))) %>
</div>

<% if @channel_groups.exists? %>
<div class="unreads-channel-group-tab">
  <%= link_to("指定なし", unreads_path(@unreads_params.merge(channel_group_id: nil))) %>
  <% @channel_groups.each do |channel_group| %>
    <%= link_to(channel_group.name, unreads_path(@unreads_params.merge(channel_group_id: channel_group.id)), class: @channel_group == channel_group ? "active" : nil) %>
  <% end %>
</div>
<% end %>

<div class="unreads-tab">
  <%= link_to("All", unreads_path(@unreads_params.merge(mode: nil)), class: @mode.nil? ? "active" : nil) %>
  <%= link_to("Text", unreads_path(@unreads_params.merge(mode: "text")), class: @mode == :text ? "active" : nil) %>
  <%= link_to("Audio", unreads_path(@unreads_params.merge(mode: "audio")), class: @mode == :audio ? "active" : nil) %>
</div>
<% @channel_and_items.each do |channel, items| %>
  <div class="channel-and-items-component channel-and-items-component-unreads">
    <h3 class="channel-and-items-component-channel">
      <%= link_to channel_path(channel) do %>
        <% if channel.image_url %>
        <%= image_tag(channel.image_url, size: "64x64",) %>
        <% end %>
        <span>
          <%= channel.title %>
        </span>
      <% end %>
    </h3>
    <ul class="channel-and-items-component-item-list">
      <% items.sort_by(&:published_at).reverse.take(6).each do |item| %>
        <%= turbo_frame_tag(item) do %>
        <li class="unreads-list">
          <%= link_to(item.url, target: "_blank") do %>
            <div class="channel-and-items-component-item-image">
              <%= image_tag(item.image_url_or_placeholder, width: "100%", height: "100%", style: "object-fit: cover;") %>
            </div>
            <div class="channel-and-items-component-item-info channel-and-items-component-item-info-unreads">
              <h4>
                <%= item.title %>
              </h4>
              <p>
                <%= item.published_at.strftime("%Y-%m-%d %H:%M") %>
              </p>
            </div>
            <% if item.audio_enclosure_url %>
              <div class="audio-player">
                <audio style="width: 100%;" src="<%= item.audio_enclosure_url %>" controls controlslist="nodownload"></audio>
              </div>
            <% end %>
          <% end %>
          <div class="channel-and-items-component-item-player-and-paw">
            <div class="channel-and-items-component-item-paw">
              <div class="channel-and-items-component-item-skip">
                <%= link_to("Skip", item_skip_path(item), data: { turbo_method: :post }) %>
              </div>
              <div class="channel-and-items-component-item-memo">
                <%= render(partial: "items/pawprint_form", locals: { item: item, pawprint: nil }) %>
              </div>
            </div>
          </div>
        </li>
        <% end %>
      <% end %>
      <% if items.size > 6 %>
        <p class="channel-and-items-component-item-more">
          Check out more unreads on <%= link_to(channel.title, channel) %>
        </p>
      <% end %>
    </ul>
  </div>
<% end %>
