<% item_count_threshold = 3 %>

<h2 class="mt-[1em] mb-[0.5em] text-2xl font-bold">Unreads</h2>

<p class="unreads-nav">Showing unreads from the last <%= @range_days %> days</p>
<div class="unreads-nav-button">
  <%= link_to("← " + (@range_days - 1).to_s + " days", unreads_path(@unreads_params.merge(range_days: @range_days - 1))) %>
  <%= link_to((@range_days + 1).to_s + " days →", unreads_path(@unreads_params.merge(range_days: @range_days + 1))) %>
</div>

<% if @channel_groups.exists? %>
<div class="unreads-channel-group-tab">
  <%= link_to("指定なし", unreads_path(@unreads_params.merge(channel_group_id: nil))) %>
  <% @channel_groups.each do |channel_group| %>
    <%= link_to(channel_group.name, unreads_path(@unreads_params.merge(channel_group_id: channel_group.id)), class: @channel_group == channel_group ? "active" : nil) %>
  <% end %>
</div>
<% end %>

<div id="unreads-container"
     data-controller="infinite-scroll"
     data-infinite-scroll-url-value="<%= unreads_load_more_path %>"
     data-infinite-scroll-current-days-value="3"
     data-infinite-scroll-channel-group-id-value="<%= @channel_group&.id %>">

  <%= render partial: 'channel_items', locals: {
    channel_and_items: @channel_and_items,
    item_summary_line_clamp: @item_summary_line_clamp
  } %>

  <div id="loading-indicator" class="text-center py-4 hidden">
    <p>読み込み中...</p>
  </div>

  <div id="no-more-content" class="text-center py-4 hidden">
    <p>これ以上のアイテムはありません</p>
  </div>
</div>
