<% item_count_threshold = 3 %>

<h2 class="mt-[1em] mb-[0.5em] text-2xl font-bold">Unreads</h2>

<p class="flex flex-wrap w-full m-0 mb-2 p-0">Showing unreads from the last <%= @range_days %> days</p>
<div class="flex m-0 mb-4">
  <%= link_to("← " + (@range_days - 1).to_s + " days", unreads_path(@unreads_params.merge(range_days: @range_days - 1)), class: "block mr-1 py-1 px-3 bg-white border border-[#cccccc] rounded hover:bg-[#3d8bcd] hover:text-white hover:no-underline") %>
  <%= link_to((@range_days + 1).to_s + " days →", unreads_path(@unreads_params.merge(range_days: @range_days + 1)), class: "block mr-1 py-1 px-3 bg-white border border-[#cccccc] rounded hover:bg-[#3d8bcd] hover:text-white hover:no-underline") %>
</div>

<% if @channel_groups.exists? %>
<div class="w-full m-0 overflow-x-auto whitespace-nowrap text-[0px]">
  <%= link_to("指定なし", unreads_path(@unreads_params.merge(channel_group_id: nil)), class: "inline-block -mr-px mb-4 py-4 px-4 bg-white border border-[#cccccc] text-center text-[13px] min-[769px]:px-6 min-[769px]:text-base first:rounded-l-md last:rounded-r-md hover:bg-[#3d8bcd] hover:text-white hover:no-underline [&.active]:bg-[#3d8bcd] [&.active]:text-white [&.active]:no-underline") %>
  <% @channel_groups.each do |channel_group| %>
    <%= link_to(channel_group.name, unreads_path(@unreads_params.merge(channel_group_id: channel_group.id)), class: "inline-block -mr-px mb-4 py-4 px-4 bg-white border border-[#cccccc] text-center text-[13px] min-[769px]:px-6 min-[769px]:text-base first:rounded-l-md last:rounded-r-md hover:bg-[#3d8bcd] hover:text-white hover:no-underline #{'active' if @channel_group == channel_group}") %>
  <% end %>
</div>
<% end %>

<% @channel_and_items.each do |channel, items| %>
  <div class="channel-and-items-component channel-and-items-component-unreads">
    <h3 class="text-lg font-bold mt-2 channel-and-items-component-channel">
      <%= link_to channel_path(channel) do %>
        <% if channel.image_url %>
          <div class="channel-component-image">
            <%= image_tag(channel.image_url, loading: "lazy") %>
          </div>
        <% end %>
        <span>
          <%= channel.title %>
        </span>
      <% end %>
    </h3>
    <%= turbo_frame_tag "channel_#{channel.id}_items" do %>
      <ul class="channel-and-items-component-item-list">
        <% items.sort_by(&:published_at).reverse.take(item_count_threshold).each do |item| %>
          <li class="flex flex-wrap items-start border-t border-[#dddddd] border-t-[0.5px]" id="item_<%= item.id %>">
            <%= link_to(item.url, target: "_blank", class: "w-full !border-t-0 min-[769px]:w-1/2") do %>
              <div class="channel-and-items-component-item-image">
                <div class="component-item-image" style="background-image: url('<%= item.image_url_or_placeholder %>')">
                  <%= image_tag(item.image_url_or_placeholder, loading: "lazy", style: "object-fit: contain;") %>
                </div>
              </div>
              <div class="channel-and-items-component-item-info channel-and-items-component-item-info-unreads">
                <h4 class="font-bold">
                  <%= item.title %>
                </h4>
                <p>
                  <%= item.published_at.strftime("%Y-%m-%d %H:%M") %>
                </p>
                <p class="hidden line-clamp-1 line-clamp-2 line-clamp-3 line-clamp-4 line-clamp-5 line-clamp-6"></p>
                <p class="text-sm text-gray-500 line-clamp-<%= @item_summary_line_clamp %>">
                  <%= item.summary %>
                </p>
              </div>
              <% if item.audio_enclosure_url %>
                <div class="audio-player w-full mt-2 -mb-2">
                  <audio class="h-9" style="width: 100%;" src="<%= item.audio_enclosure_url %>" controls controlslist="nodownload"></audio>
                </div>
              <% end %>
            <% end %>
            <div class="channel-and-items-component-item-player-and-paw">
              <div class="channel-and-items-component-item-paw">
                <div class="channel-and-items-component-item-skip">
                  <%= link_to("Skip", item_skip_path(item), data: { turbo_method: :post }) %>
                </div>
                <div class="channel-and-items-component-item-memo">
                  <%= render(partial: "items/pawprint", locals: { item: item, pawprint: nil }) %>
                </div>
              </div>
            </div>
          </li>
        <% end %>
        <% if items.size > item_count_threshold %>
          <p id= "item-skipper-<%= channel.id %>" class="channel-and-items-component-item-skipper text-center">
            <%= link_to("Skip all items", channel_skips_path(channel_id: channel.id), data: { turbo_method: :post }, class: "inline-block leading-6 bg-[#999999] text-white p-2 rounded-sm hover:text-white hover:bg-[#aaaaaa]") %>
          </p>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
