
<div class="profile">
  <div class="profile-image">
    <%= image_tag(@user.icon_url, size: "128x128") %>
  </div>
  <div class="profile-info">
    <h2 class="text-2xl font-bold mt-6 mb-4"><%= "@" + @user.name %></h2>
  </div>
</div>

<% if @channel_groups.exists? %>
<h3 class="text-lg font-bold">Channel Groups</h3>
<ul class="list-none p-0">
  <% @channel_groups.each do |channel_group| %>
    <li><%= link_to(channel_group.name, channel_group) %></li>
  <% end %>
</ul>
<% end %>

<% if @owned_channels.exists? %>
<h3 class="text-lg font-bold">Owned Channels</h3>
<%= render(partial: "channels/grid_cards", locals: { channels: @owned_channels }) %>
<% end %>

<% if @subscribed_channels.exists? %>
<h3 class="text-lg font-bold">Subscribed Channels</h3>
<%= render(partial: "channels/grid_cards", locals: { channels: @subscribed_channels }) %>
<% end %>
