<% unless logged_in? %>
<div class="hero-area">
  <div class="hero-area-image">
    <%= image_tag("hero.png", alt: "rururu", loading: "lazy", width: 720, height: 400) %>
  </div>
  <div class="hero-area-text">
    <h1>
      みんなの登録フィード閲覧や<br/>
      感想メモのシェアができる<br/>
      新しいRSSフィードリーダー
    </h1>
    <p>
      rururu は、あなたや友達が見ているサイトの最新情報がわかったり<br class="br-pc"/>
      自身の登録フィードの未読管理や感想のメモもできる、<br class="br-pc"/>
      ポスト・SNS時代に向けた新しいRSSフィードリーダーです。
    </p>
    <div class="hero-area-button">
      <!-- <a class="hero-area-button-primary" href="">ユーザー登録<span> (無料)</span></a> -->
      <%= link_to "rururu について", "about", class: "hero-area-button-secondary", method: :get %>
    </div>
  </div>
</div>
<% end %>
<h2>Recent Channel & Items</h2>
<% @channels.each do |channel| %>
  <div class="channel-and-items-component">
    <h3 class="channel-and-items-component-channel">
      <%= link_to channel_path(channel) do %>
        <% if channel.image_url %>
        <%= image_tag(channel.image_url, size: "64x64",) %>
        <% end %>
        <span>
          <%= channel.title %>
        </span>
      <% end %>
    </h3>
    <ul class="channel-and-items-component-item-list">
      <% channel.items.order(id: :desc).limit(3).each do |item| %>
        <%= turbo_frame_tag(item) do %>
        <li>
        <%= link_to(item.url, target: "_blank") do %>
          <div class="channel-and-items-component-item-image">
            <%= image_tag(item.image_url_or_placeholder, width: "100%", height: "100%", style: "object-fit: cover;") %>
          </div>
          <div class="channel-and-items-component-item-info">
            <h4>
              <%= item.title %>
            </h4>
            <%= item.published_at.strftime("%Y-%m-%d %H:%M") %>
          </div>
        <% end %>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
