<% unless logged_in? %>
<%= render(partial: "layouts/hero", locals: { show_buttons: true }) %>
<% end %>

<section>
  <h2 class="mt-4 mb-[0.5em] text-2xl font-bold">Recent Pawprints</h2>
  <div class="w-full flex overflow-scroll">
    <%= render(partial: "pawprints/blocks", locals: { pawprints: @pawprints }) %>
  </div>
</section>

<section>
  <h2 class="mt-[1em] mb-[0.5em] text-2xl font-bold">Recent Channel & Items</h2>
  <div class="w-full flex overflow-scroll">
    <%= render(partial: "channels/with3items", collection: @channel_and_items, as: :channel) %>
  </div>
</section>

<section>
  <h2 class="mt-[1em] mb-[0.5em] text-2xl font-bold">Recent Channels</h2>
  <div class="w-full flex overflow-scroll">
    <%= render(partial: "channels/flex_cards", locals: { channels: @channels }) %>
  </div>
</section>

<section>
  <h2 class="mt-[1em] mb-[0.5em] text-2xl font-bold">Recent Channel Groups</h2>
  <div class="w-full flex overflow-scroll">
    <%= render(partial: "channel_groups/flex_cards", locals: { channel_groups: @channel_groups }) %>
  </div>
</section>
