<h2>Recent Channel & Items</h2>
<% @channels.each do |channel| %>
  <div class="channel-and-items-component">
    <h3 class="channel-and-items-component-channel">
      <%= link_to channel_path(channel) do %>
        <% if channel.image_url %>
        <%= image_tag(channel.image_url, size: "64x64",) %>
        <% end %>
        <span>
          <%= channel.title %>
        </span>
      <% end %>
    </h3>
    <ul class="channel-and-items-component-item-list">
      <% channel.items.order(id: :desc).limit(3).each do |item| %>
        <%= turbo_frame_tag(item) do %>
        <li>
        <%= link_to(item.url, target: "_blank") do %>
          <div class="channel-and-items-component-item-image">
            <%= image_tag(item.image_url_or_placeholder, width: "100%", height: "100%", style: "object-fit: cover;") %>
          </div>
          <div class="channel-and-items-component-item-info">
            <h4>
              <%= item.title %>
            </h4>
            <%= item.published_at.strftime("%Y-%m-%d %H:%M") %>
          </div>
        <% end %>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
