<div class="main-column">
  <h2>Recent Channel & Items</h2>
  <% @channel_and_items_for_welcome.each do |channel, items| %>
    <div class="channel-and-items-component">
      <h3 class="channel-and-items-component-channel">
        <% if channel.image_url %>
        <%= image_tag(channel.image_url, size: "64x64",) %>
        <% end %>
        <span>
          <%= link_to(channel.title, channel) %>
        </span>
      </h3>
      <ul class="channel-and-items-component-item-list">
        <% items.sort_by(&:published_at).reverse.take(3).each do |item| %>
          <%= turbo_frame_tag(item) do %>
          <li>
            <div class="channel-and-items-component-item-image">
              <%= image_tag(item.image_url_or_placeholder, width: "100%", height: "100%", style: "object-fit: cover;") %>
            </div>
          <div class="channel-and-items-component-item-info">
            <h4>
            <%= link_to(item.title, item.url, target: "_blank") %>
            </h4>
            <%= item.published_at.strftime("%Y-%m-%d %H:%M") %>
          </div>
          <div class="channel-and-items-component-item-memo channel-and-items-component-item-memo-welcome">
            <%= render(partial: "items/pawprint", locals: { item: item }) %>
          </div>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

</div>

<div class="sub-column">
  <section>
    <h2>Recent Pawprints</h2>
    <p>
      <%= link_to("All Pawprints", pawprints_path) %>
    </p>
    <%= render(partial: "pawprints/lines", locals: { pawprints: @pawprints }) %>
  </section>
</div>
