<section>
  <h2 class="text-2xl font-bold mt-6 mb-4"><%= @channel_group.name %></h2>
  <%= form_tag(channel_group_path(@channel_group), method: :put) do %>
    <div class="setting-list">
      <p>Channel Group Name</p>
      <%= text_field_tag('channel_group[name]', @channel_group.name) %>
      <div>
        <%= submit_tag("Update") %>
      </div>
    </div>
  <% end %>
  <% if logged_in? %>
    <% if @channel_group.users.include?(current_user) %>
      <p><%= link_to("Leave this channel group", channel_group_membership_path(@channel_group), data: { turbo_method: :delete }) %></p>
    <% else %>
      <p><%= link_to("Join to this channel group", channel_group_membership_path(@channel_group), data: { turbo_method: :post }) %></p>
    <% end %>
  <% end %>
</section>

<% if @channels.count > 0 %>
<section>
  <h2 class="text-2xl font-bold mt-6 mb-4"><%= @channels.count %> Channels</h2>
  <%= render(partial: "channels/cards", locals: { channels: @channels }) %>
</section>
<% end %>

<% if @items.count > 0 %>
<section>
  <h2 class="text-2xl font-bold mt-6 mb-4">Recent Items</h2>
  <%= render(partial: "items/cards", locals: { items: @items, with_channel: true }) %>
</section>
<% end %>
