<div class="w-full grid gap-[15px] grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
  <% items.each do |item| %>
  <div class="card item-card">
    <div class="relative w-full leading-[0] overflow-hidden aspect-[3/2] max-md:h-[calc((100vw-55px)/3)]">
      <%= link_to item.url, target: "_blank" do %>
        <div class="image-blur-bg relative w-full h-full flex items-center justify-center bg-center bg-cover bg-no-repeat overflow-hidden" style="background-image: url('<%= item.image_url_or_placeholder %>')">
          <%= image_tag(item.image_url_or_placeholder, class: "relative z-[2] max-w-full max-h-full object-contain") %>
        </div>
      <% end %>
      <% if item.audio_enclosure_url %>
        <div class="audio-player audio-player-on-the-image absolute bottom-0 w-[96%] my-1 mx-[2%] z-10">
          <audio class="h-[30px]" style="width: 100%;" src="<%= item.audio_enclosure_url %>" controls controlslist="nodownload"></audio>
        </div>
      <% end %>
    </div>
    <h3 class="my-2 mb-1 text-base leading-[1.4em] font-bold"><%= link_to(item.title, item.url, target: "_blank") %></h3>
    <% if with_channel %>
      <span class="block mb-[0.1em] text-[0.9em] leading-[1.5em] text-[#555555]">
        <%= link_to(item.channel.title, item.channel) %>
      </span>
    <% end %>
    <span class="block mb-[0.1em] text-[0.9em] leading-[1.5em] text-[#555555]"><%= item.published_at.strftime("%Y-%m-%d %H:%M") %></span>
    <%= render(partial: "items/pawprint", locals: { item: item, pawprint: item.pawprints.find { |p| p.user_id == current_user&.id } }) %>
  </div>
  <% end %>
</div>
