<div class="cards item-cards">
  <% items.each do |item| %>
  <div class="card item-card">
    <div class="card-image">
      <%= link_to item.url, target: "_blank" do %>
        <div class="item-card-image" style="background-image: url('<%= item.image_url_or_placeholder %>')">
          <%= image_tag(item.image_url_or_placeholder) %>
        </div>
      <% end %>
      <% if item.audio_enclosure_url %>
        <div class="audio-player audio-player-on-the-image">
          <audio style="width: 100%;" src="<%= item.audio_enclosure_url %>" controls controlslist="nodownload"></audio>
        </div>
      <% end %>
    </div>
    <h3 class="w-full my-4 mb-2 font-bold text-base leading-[1.4em]"><%= link_to(item.title, item.url, target: "_blank") %></h3>
    <% if with_channel %>
      <span class="card-channel">
        <%= image_tag(item.channel.favicon_url, size: "16x16", class: "w-[14px] h-auto") %>
        <%= link_to(item.channel.title, item.channel) %>
      </span>
    <% end %>
    <span class="card-publish"><%= item.published_at.strftime("%Y-%m-%d %H:%M") %></span>
    <%= render(partial: "items/pawprint", locals: { item: item }) %>
  </div>
  <% end %>
</div>
