<div class="cards item-cards">
  <% items.each do |item| %>
  <div class="card item-card">
    <div class="card-image">
      <%= link_to(image_tag(item.image_url_or_placeholder, class: "w-full h-full object-cover"), item.url, target: "_blank") %>
      <% if item.audio_enclosure_url %>
        <div class="audio-player audio-player-on-the-image">
          <audio style="width: 100%;" src="<%= item.audio_enclosure_url %>" controls controlslist="nodownload"></audio>
        </div>
      <% end %>
    </div>
    <h3 class="card-title"><%= link_to(item.title, item.url, target: "_blank") %></h3>
    <% if with_channel %>
      <span class="card-channel">
        <%= image_tag(item.channel.favicon_url, size: "16x16") %>
        <%= link_to(item.channel.title, item.channel) %>
      </span>
    <% end %>
    <span class="card-publish"><%= item.published_at.strftime("%Y-%m-%d %H:%M") %></span>
    <%= render(partial: "items/pawprint", locals: { item: item }) %>
  </div>
  <% end %>
</div>
