<% if logged_in? %>
  <%= turbo_frame_tag(item) do %>
    <% reaction = item.reactions.find_by(user: current_user) %>

    <%= form_tag(item_reaction_path(item), method: :post) do %>
      <%= text_field_tag(:memo, reaction&.memo, placeholder: "Memo") %>
      <%= submit_tag("React!") %>
    <% end %>

    <% if reaction %>
      <p class="button-to-unreact">
        <%= link_to("Unreact!", item_reaction_path(item), method: :delete) %>
      </p>
    <% end %>
  <% end %>
<% end %>
