<nav>
  <%= render(partial: "channels/search_form", locals: { channel_q: @channel_q }) %>

  <% if logged_in? %>
  <ul class="pc-menu">
    <li>
      <%= link_to(pawprints_path) do %>
        <span class="material-symbols-outlined"><%= image_tag("icon-pawprints-b.svg", alt: "pawprints", loading: "lazy", width: 24, height: 24) %></span>
        <span>Pawprints</span>
      <% end %>
    </li>
    <li>
      <%= link_to(unreads_path) do %>
        <span class="material-symbols-outlined">inbox</span>
        <span>Unreads</span>
      <% end %>
    </li>
    <li>
      <%= link_to(my_path) do %>
        <span class="material-symbols-outlined">settings</span>
        <span>Settings</span>
      <% end %>
    </li>
  </ul>

  <input type="checkbox" name="hamburger" id="hamburger" class="hamburger-menu-input"/>
  <label for="hamburger" class="hamburger-menu-bg"></label>
  <ul class="hamburger-menu-list">
    <li>
      <%= link_to(guides_path) do %>
        <span class="material-symbols-outlined">info</span>
        <span>Guides</span>
      <% end %>
    </li>
    <li>
      <%= link_to(user_path(user_name: current_user.name)) do %>
        <span class="material-symbols-outlined">account_circle</span>
        <span>My Page</span>
      <% end %>
    </li>
    <li>
      <%= link_to(session_path, data: { turbo_method: :delete }) do %>
        <span class="material-symbols-outlined">logout</span>
        <span>Log out</span>
      <% end %>
    </li>
  </ul>
  <label for="hamburger" class="hamburger-menu-button">
    <%= image_tag(current_user.icon_url, size: "36x36") %>
  </label>
  <% end %>
</nav>

<nav class="sp-tab">
  <ul class="list-none p-0">
    <li>
      <%= link_to(root_path) do %>
        <span class="material-symbols-outlined material-symbols-outlined-sp-tab">home</span>
        <span>Home</span>
      <% end %>
    </li>
    <% if logged_in? %>
    <li>
      <%= link_to(pawprints_path) do %>
        <span class="material-symbols-outlined material-symbols-outlined-sp-tab material-symbols-outlined-sp-tab-paw"><%= image_tag("icon-pawprints-w.svg", alt: "pawprints", loading: "lazy", width: 32, height: 32) %></span>
        <span>Pawprints</span>
      <% end %>
    </li>
    <li>
      <%= link_to(unreads_path) do %>
        <span class="material-symbols-outlined material-symbols-outlined-sp-tab">inbox</span>
        <span>Unreads</span>
      <% end %>
    </li>
    <li>
      <%= link_to(my_path) do %>
        <span class="material-symbols-outlined material-symbols-outlined-sp-tab">settings</span>
        <span>Settings</span>
      <% end %>
    </li>
    <% end %>
  </ul>
</nav>
