<nav>
  <ul>
    <li><%= link_to("Channels", channels_path) %></li>
    <li><%= link_to("Items", items_path) %></li>
    <li><%= link_to("Users", users_path) %></li>

    <% if logged_in? %>
    <li><%= link_to("My Inbox", inbox_path) %></li>
    <li><%= link_to("My Profile", user_path(user_name: current_user.name)) %></li>
    <% end %>
  </ul>
</nav>
