<nav>
  <%= render(partial: "channels/search_form", locals: { q: @q }) %>

  <% if logged_in? %>
  <ul class="pc-menu">
    <li><%= link_to("Unreads", unreads_path, class: 'nav-icon nav-icon-my-inbox') %></li>
    <li><%= link_to("Settings", my_path, class: 'nav-icon nav-icon-setting') %></li>
  </ul>

  <input type="checkbox" name="hamburger" id="hamburger" class="hamburger-menu-input"/>
  <label for="hamburger" class="hamburger-menu-bg"></label>
  <ul class="hamburger-menu-list">
    <li><%= link_to("My Pawprints", my_pawprints_path, class: 'nav-icon nav-icon-my-pawprints') %></li>
    <li><%= link_to("My Page", user_path(user_name: current_user.name), class: 'nav-icon nav-icon-my-profile') %></li>
    <li><%= link_to("Log out", session_path, data: { turbo_method: :delete }, class: 'nav-icon nav-icon-logout') %></li>
  </ul>
  <label for="hamburger" class="hamburger-menu-button">
    <%= image_tag(current_user.icon_url, size: "36x36") %>
  </label>
  <% end %>
</nav>

<nav class="sp-tab">
  <ul>
    <li><%= link_to("Home", root_path, class: 'nav-icon nav-icon-home') %></li>
    <% if logged_in? %>
    <li><%= link_to("Unreads", unreads_path, class: 'nav-icon nav-icon-my-inbox') %></li>
    <li><%= link_to("Settings", my_path, class: 'nav-icon nav-icon-setting') %></li>
    <% end %>
  </ul>
</nav>
