<!DOCTYPE html>
<html>
  <head>
    <title><%= [@title, "Feeeed!"].compact.join(" - ") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "square.png" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1><%= link_to("Feeeed!", root_path) %></h1>
    </header>
    <%= render(partial: "layouts/google_login") %>
    <%= render(partial: "channels/form") %>
    <%= render(partial: "layouts/flash_messages") %>
    <%= yield %>
  </body>
</html>
