<!DOCTYPE html>
<html>
  <head>
    <title><%= [@title, "rururu"].compact.join(" - ") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "square.png" %>
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1><%= link_to image_tag("logo.svg"), root_path %></h1>
      <%= render(partial: "layouts/menu") %>
      <%= render(partial: "layouts/google_login") %>
    </header>
    <div class="wrapper">
      <div class="main">
        <%= render(partial: "layouts/flash_messages") %>
        <%= yield %>
      </div>
    </div>
    <%= render(partial: "channels/preview/form") %>
    <footer>
    <!-- 一時的に全ページのメニューを設置 -->
    <ul>
      <li><%= link_to("About", about_path) %></li>
      <li><%= link_to("Channels", channels_path) %></li>
      <li><%= link_to("Items", items_path) %></li>
      <li><%= link_to("Channel Groups", channel_groups_path) %></li>
      <% if logged_in? %>
      <li><%= link_to("Pawprints", pawprints_path) %></li>
      <li><%= link_to("Users", users_path) %></li>
      <li><%= link_to("Inbox", inbox_path) %></li>
      <li><%= link_to("Unreads", unreads_path) %></li>
      <li><%= link_to("Settings", my_path) %></li>
      <% end %>
    </ul>

    <p>© rururu</p>
    </footer>
  </body>
</html>
