<!DOCTYPE html>
<html>
  <head>
    <title><%= [@title, "rururu"].compact.join(" - ") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "square.png" %>
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-[#ecf2fa] font-sans break-words">
    <header class="relative w-[calc(100%-40px)] h-[72px] max-w-[1440px] flex flex-wrap mx-auto z-10 md:w-full">
      <h1 class="flex w-[120px] h-18 items-center ml-0 md:w-[144px] md:ml-[20px]">
        <%= link_to image_tag("logo.svg", class: "w-full h-auto"), root_path, class: "leading-none" %>
      </h1>
      <%= render(partial: "layouts/menu") %>
      <%= render(partial: "layouts/google_login") %>
    </header>
    <div class="w-full max-w-[1440px] mx-auto px-5 mb-12">
      <%= render(partial: "layouts/flash_messages") %>
      <%= yield %>
    </div>
    <%= render(partial: "channels/preview/form") %>
    <footer class="sticky top-[100vh] w-full pt-8 pb-24 bg-[#3d8bcd] text-white text-center md:py-8">
    <!-- 一時的に全ページのメニューを設置 -->
    <ul class="flex flex-wrap justify-center items-center mb-4 space-x-8">
      <li><%= link_to("About", about_path, class: "text-white hover:text-white") %></li>
      <li><%= link_to("Channels", channels_path, class: "text-white hover:text-white") %></li>
      <li><%= link_to("Items", items_path, class: "text-white hover:text-white") %></li>
      <li><%= link_to("Channel Groups", channel_groups_path, class: "text-white hover:text-white") %></li>
      <% if logged_in? %>
      <li><%= link_to("Pawprints", pawprints_path, class: "text-white hover:text-white") %></li>
      <li><%= link_to("Users", users_path, class: "text-white hover:text-white") %></li>
      <li><%= link_to("Unreads", unreads_path, class: "text-white hover:text-white") %></li>
      <li><%= link_to("Settings", my_path, class: "text-white hover:text-white") %></li>
      <% end %>
    </ul>

    <p>© rururu</p>
    </footer>
  </body>
</html>
